*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --azul-primario: #191946;
    --branco: #FFFFFF;
    --amarelo: #C39F00;
    --azul-secundário: #1A1A4E;
    --azul-terciário: #212160;
    --bg_azul: #111133;
    --bg-bege: #ECECEC;
    --text_bege: #DBDBDB;
    --text_bege_dark: #D2D2D2;
    --text_cinza: #4C4C4C;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* Primeira sessão do site */
.cover {
    background-color: var(--bg_azul);
    color: var(--branco);
    height: 100vh;
    position: relative;
    padding-left: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover-header {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.cover-header img {
    height: 80px;
}

.header-menu-con {
    display: flex;
    align-items: center;
    gap: 34px;
    margin-right: 38px;
}

.cover-header p {
    font-size: 20px;
    font-weight: 500;
}

.cover-h1 {
    font-size: 60px;
    line-height: 90px;
    margin: 0px;
    font-weight: 800;
    color: var(--branco);
}

.cover-paragraph {
    font-size: 34px;
    line-height: 51px;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 30px;
    color: var(--text_bege);
}

.btn-yellow {
    width: 262px;
    height: 46px;
    font-size: 22.5px;
    font-weight: 500;
    line-height: 51px;
    color: var(--branco);
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.7rem;
    background-color: var(--amarelo);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.balao-img {
    position: absolute;
    bottom: 0;
    right: 100px;
}

.balao-img img  {
    height: 90vh;
}

.cover-footer {
    padding-bottom: 30px;
}

.cover-footer img {
    height: 32px;
    margin-right: 24px;
}

/* Sesão Sobre */

.about {
    padding-left: 75px;
    padding-right: 75px;
    min-height: 741px;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-bege);
}

.about-text {
    max-width: 65%;
}

.about-h2 {
    font-size: 50px;
    line-height: 75px;
    font-weight: 800;
    color: #121212;
    margin: 68px 0 26px 0;
}

.about-paragraph {
    margin: 0;
    font-size: 34px;
    line-height: 51px;
    font-weight: 500;
    color: var(--text_cinza);
}

.about-img {
    width: 511px;
    height: 497px;
    position: relative;
    margin-top: 87px;
}

.about-img img {
    height: 286px;
}

.img-equipe1 {
    position: absolute;
    top: 0;
    left: 0 ;
}

.img-equipe2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Midia */
.midia{
    background-color: var(--bg_azul);
    height: 735px;
    padding-top: 62px;
}

.midia-h2{
    color: white;
    font-size: 50px;
    font-weight: 800;
    line-height: 75px;
    text-align: center;
}

.midia-paragraph {
    color: var(--text_bege_dark);
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
}

.card-con {
    display: flex;
    max-width: 1391px;
    justify-content: space-between;
    margin: 61px auto;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 427px;
    height: 399px;
    color: var(--text_cinza);
    word-wrap: break-word;
    background-color: var(--branco);
    border-radius: 1.5rem;
}

.card-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}


/* Premios */
.premios{
    background-color: var(--bg-bege);
    height: 741px;
    padding-top: 62px;
}

.premios-card{
    padding: 35px 0;
}

.premios-img {
    height: 133px;
    width: 133px;
    margin: 0 auto;
}

.premios-medalhas {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 11px;
}

.medalha-item {
    display: flex;
    align-items: center;
}

.medalha-item img{
    width: 22.37px;
    height: 26.67px;    
}

.medalha-item p{
    margin-left: 8px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}

.premios-h2{
    color: #000000;
    font-size: 50px;
    font-weight: 800;
    line-height: 75px;
    text-align: center;
}

.premios-paragraph {
    color: var(--text_cinza);
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
}

.premios button {
    margin: 11px auto;
}

/* Contato */
.contato {
    height: 346px;
    text-align: center;
    padding: 68px 0;
    background-color: var(--bg_azul);
}

.contato h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

.contato p {
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    color: #C8C8C8;
    margin-bottom: 23px;
}

.contato-img{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
}

#youtube-img{
    width: 68.33px;
    height: 47.83px;
}

#instagram-img{
    width: 68.33px;
    height: 69.17px;
}

#telegram-img{
    width: 64.81px;
    height: 59.45px;
}

/* Footer */
.footer {
    height: 112px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.footer p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.025em;
    text-align: left;
}

.text-azul{
    color: #5ED8FF;
}